@import '~node_modules/modern-normalize/modern-normalize.css';
.search-form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-form input[type=text] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 60%;
}

.search-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
}

.search-form button:hover {
  background-color: #2b622d;
}

.gallery {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 20px;
}

.photo-card {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.photo-card img {
  width: 350px;
  height: auto;
}

.photo-card .info {
  padding: 10px;
  font-size: 14px;
  text-align: left;
}

.photo-card .info-item {
  margin: 5px 0;
  list-style: none;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.load-more:hover {
  background-color: #3e8e41;
}

.load-more {
  display: none;
}